html,
body {
  margin-left: 2vw;
}

#count {
  font-size: 7vh;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 20vw;
    justify-content: space-between;
}

button {
  height: 4.5vh;
  color: white;
  background-color: #1a73e8;
  border: none;
  width: 6vw;
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 20vw;
}

input {
    height: 4.5vh;
}

h3 {
    margin-top: 4vh;
}